body{
	background-image: url("img/bg.png");
	color: #000305;
	font-size: 100%;
	font-family: Arial, 'Lucida Sans Unicode'
	line-height: 1.5;
	text-align:left;
}

a{
	text-decoration: none;
}
a:link, a:visited{
	
	
}

a:hover, a:active{
	
}

.body{
	margin: 0 auto;
	width:70%;
	clear: both;
}
.mainHeader img{
	width: 30%;
	height: auto;
	margin: 2% 0;
}
.mainHeader nav{
	background-color: #666;
	height: 40px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}

.mainHeader nav ul{
	list-style:none;
	margin: 0 auto;
}

.mainHeader nav ul li{
	float:left;
	display:inline;
}

.mainHeader nav a:link, .mainHeader nav a:visited{
	color: #FFF;
	display:inline-block;
	padding: 10px 25px;
	height:20px;
}

.mainHeader nav a:hover, .mainHeader nav a.active, .mainHeader nav a.active link, .mainHeader nav a.active visited{
	background-color:#CF5C3F;
	text-shadow:"none";
}

.mainHeader nav ul li a{
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}

.main_content{
	line-height:25px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	overflow:hidden;
}

.content{
	width: 70%;
	float:left;
}

.topcontent{
	background-color: #FFF;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;	
	padding: 3% 5%;
	margin-top: 2%;
}

.bottomcontent{
	background-color: #FFF;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;	
	padding: 3% 5%;
	margin-top: 2%;
}

.top-sidebar{
	width:22%;
	float:right;
	background-color:#FFF;
	clear:right;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	margin-top: 1.5%;
	padding:2% 3%;
}

.middle-sidebar{
	width:22%;
	float:right;
	background-color:#FFF;
	clear:right;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	margin-top: 2%;
	padding:2% 3%;
}

.bottom-sidebar{
	width:22%;
	float:right;
	background-color:#FFF;
	clear:right;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	margin-top: 2%;
	padding:2% 3%;
}


.mainFooter{
	border:1px solid black;
	width: 100%;
	float:left;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	background-color:#666;
	margin-top:2%;
	clear:both;
}

.mainFooter p{
	width:92%;
	margin: 1% auto;
}
